{{ define "main" }}
<div class="valign-wrapper" style="min-height: 80vh">
    <div class="container">
        <div class="col s12 center-align">
            <div class="container">
                <div class="col s12">
                    <i class="material-icons large">bug_report</i>
                </div>
                <div class="col s12">
                        <h1>Not Found</h1>
                </div>
                <div class="col s12">
                    <h3>That page can't be found. If it should exist please create an issue.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}